body { background-color:black; color:#b3b3b3; }

h1 { color:black; }

.h2bio {margin-bottom: 0px; padding-bottom: 0px;}

#GGLink {margin-top: 0px;padding-top: 0px;}

div { width:600px; color:#b3b3b3; background-color:#404040;}

#biobox { }

#topTenBox { ;width:600px; }

#skillListBox {width:600px;}
